# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.QuizAPI.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Blackbeard\Downloads\repos\repos\QuizAPI\.idea\.idea.QuizAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
