@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>The Quizz API is a platform used for users to generate questions according to their category they selected</p>
